<!--角色修改指令模板-->
<div class="roledialog" ng-if="boll">
    <ul>
        <li>
            <span>ID：</span>
            <input type="text" value="{{tar.ID}}" ng-model="tar.ID" disabled>
        </li>
        <li>
            <span>角色：</span>
            <select ng-model="tar.role">
                <option>管理员</option>
                <option>管理员0</option>
                <option>管理2</option>
                <option>管理员1</option>
                <option>管理员2</option>
                <option>管理员是</option>
            </select>

        </li>
        <li>
            <span>状态：</span>
            <input type="radio" name="state" ng-change="changeFn('启用')" ng-value="start" ng-model="changeState">启用
            <input type="radio" name="state" ng-change="changeFn('禁用')" ng-value="stop" ng-model="changeState">禁用
        </li>
        <li>
            <span>创建时间：</span>
            <input type="text" value="{{tar.creattime}}" ng-model="tar.creattime" disabled>
        </li>
        <li>
            <button ng-click="sure()">确定</button>
            <button ng-click="no()">取消</button>
        </li>
    </ul>
</div>