<div class="main">
    <h5>添加用户</h5>
    <table class="table">
        <thead>
        <tr>
            <th>登录名</th>
            <th>真实姓名</th>
            <th>角色</th>
            <th>手机</th>
            <th>邮箱</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" ng-model="add.loginname"></td>
            <td><input type="text" ng-model="add.name"></td>
            <td>
                <select ng-model="add.role" ng-init="add.role='管理员'">
                    <option>管理员</option>
                    <option>13管理员aaa</option>
                    <option>13管理</option>
                </select>
            </td>
            <td><input type="text" ng-model="add.telephone"></td>
            <td><input type="text" ng-model="add.email"></td>
            <td>
                <select ng-model="add.state" ng-init="add.state='启用'">
                    <option>启用</option>
                    <option>禁用</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="add" ng-click="addName()">添加</button>
</div>
