<!--用户管理页面-->
<div class="main">
    <!--用户管理-->
    <h5>角色管理</h5>
    <!--查询栏-->
    <div class="search">
        <span>状态</span>
        <select ng-model="statues">
            <option value="">全部</option>
            <option value="启用">启用</option>
            <option value="禁用">禁用</option>
        </select>
        <span>角色</span>
        <select ng-model="sysRole">
            <option value="">全部</option>
            <option value="管理员">管理员</option>
            <option value="管理员0">管理员0</option>
            <option value="管理2">管理2</option>
            <option value="管理员1">管理员1</option>
            <option value="管理员2">管理员2</option>
            <option value="管理员是">管理员是</option>
        </select>
        <button ng-click="searchFn()">查询</button>
    </div>
    <!--列表-->
    <div class="list">列表</div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>角色</th>
                <th>状态</th>
                <th>序号</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr ng-repeat="item in cutData">
                <td>{{item.ID}}</td>
                <td>{{item.role}}</td>
                <td>{{item.state}}</td>
                <td>{{item.orders}}</td>
                <td>{{item.creattime}}</td>
                <td>
                    <span ng-click="update(item)">修改</span>
                    <span ng-click="remove(item)">删除</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="page" ng-show="pageS">
        <button ng-click="updownPage('-')">上一页</button>
        <!--第一页始终显示-->
        <span ng-class="{current:(index+1) == 1}" ng-click="changeIndex(1)">1</span>
        <span ng-show="topMore">...</span>
        <!--用来存放中间的页数，循环遍历存放页数的数组，将第二页至倒数第二页显示出来-->
        <span ng-repeat="i in pageArr" ng-class="{current:(index+1) == i}" ng-click="changeIndex(i)" ng-show="showArr.indexOf(i) != -1">{{i}}</span>
        <span ng-show="lastMore">...</span>
        <!--用来存放最后一页，始终显示-->
        <span ng-class="{current:(index+1) == allPage}" ng-click="changeIndex(allPage)" ng-show="lastBoll">{{allPage}}</span>
        <button ng-click="updownPage('+')">下一页</button>
        第<input type="number" min="1" max="{{allPage}}" ng-change="changeValue()" ng-model="value">页
    </div>
</div>
<!--确定是否删除弹出框-->
<remove-sure></remove-sure>
<!--修改弹出框-->
<role-sure></role-sure>
