* {
  margin: 0;
  padding: 0; }

header .title {
  width: 100%;
  height: 36px;
  background-color: #007aff;
  color: #fff;
  line-height: 36px;
  display: -webkit-flex; }
  header .title p {
    width: 140px;
    text-align: center;
    border-right: 1px solid #ccc;
    font-size: 14px;
    font-weight: bold; }
  header .title .title-left {
    -webkit-flex: 1; }
    header .title .title-left ul li {
      width: 80px;
      display: inline-block;
      text-align: center;
      line-height: 30px; }
      header .title .title-left ul li a {
        color: #fff; }
  header .title .title-right {
    width: 120px;
    text-align: center; }
    header .title .title-right .dropdown .dropdown-toggle {
      color: #fff; }

.content {
  width: 100%;
  height: 600px;
  display: -webkit-flex; }

aside {
  width: 140px;
  height: 600px;
  line-height: 30px;
  border-right: 1px solid #ccc; }
  aside .work, aside .can, aside nav li {
    padding-left: 20px; }
  aside .work {
    font-size: 14px;
    color: #449d44;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    box-shadow: 1px 1px 2px #eee; }
    aside .work span {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #449d44;
      color: #fff;
      font-size: 14px;
      font-weight: bolder;
      text-align: center;
      line-height: 20px; }
  aside .can {
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    line-height: 40px;
    margin: 0; }
    aside .can span {
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 1px solid #9d9d9d;
      font-size: 6px;
      color: #9d9d9d;
      text-align: center;
      line-height: 6px; }
  aside nav ul li span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 2px solid #9d9d9d;
    border-radius: 50%; }
  aside nav ul li a {
    font-size: 14px; }
  aside nav .current {
    background-color: #007aff;
    color: #fff; }

.product {
  -webkit-flex: 1;
  height: 600px; }
  .product .main {
    width: 100%;
    height: 600px;
    padding-left: 20px; }
    .product .main h5 {
      padding-top: 20px;
      font-weight: bold; }
    .product .main .search {
      padding-top: 10px; }
      .product .main .search button {
        width: 50px; }
    .product .main .list {
      line-height: 40px;
      font-size: 14px;
      color: #0074d9;
      font-weight: bold; }

td input {
  width: 80px; }

.add {
  width: 100px;
  height: 30px;
  margin-left: 40%; }

.dialog, .roledialog {
  width: 300px;
  height: 400px;
  background-color: #c4e3f3;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -200px; }
  .dialog ul, .roledialog ul {
    margin-top: 20px;
    margin-left: 50px; }
    .dialog ul li, .roledialog ul li {
      margin-top: 15px; }
      .dialog ul li span, .roledialog ul li span {
        display: inline-block;
        width: 60px; }
      .dialog ul li button, .roledialog ul li button {
        width: 60px;
        height: 24px;
        border: 1px solid #ccc;
        margin-left: 24px;
        background-color: #39cccc;
        color: #fff; }

.page {
  margin-bottom: 20px; }
  .page button {
    width: 60px;
    height: 24px;
    background-color: transparent;
    border: 1px solid #666;
    margin-left: 10px;
    margin-right: 10px; }
  .page span {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 22px;
    border: 1px solid #666;
    margin-right: 2px; }
  .page .current {
    background-color: #0074d9;
    color: #fff; }
  .page input {
    width: 60px;
    margin-left: 5px;
    margin-right: 5px; }

.removePopup {
  width: 200px;
  height: 160px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #999;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 30%; }
  .removePopup .closed {
    height: 20px;
    border-radius: 10px 10px 0 0;
    background-color: #007aff;
    color: #fff;
    font-size: 26px;
    text-align: right;
    padding-right: 10px; }
  .removePopup h4 {
    text-align: center;
    line-height: 60px;
    background-color: #007aff;
    color: #fff; }
  .removePopup .sure span {
    display: inline-block;
    width: 96px;
    text-align: center;
    line-height: 80px;
    font-size: 16px; }

/*# sourceMappingURL=index.css.map */
