* {
  margin: 0;
  padding: 0; }

.content {
  width: 100%;
  height: 600px; }
  .content .left {
    width: 200px;
    height: 600px;
    float: left;
    position: relative;
    margin-left: -100%;
    line-height: 30px;
    border-right: 1px solid #ccc; }
    .content .left .title {
      height: 30px;
      background-color: #007aff;
      color: #fff;
      text-align: center; }
    .content .left .work, .content .left .can, .content .left nav li {
      padding-left: 20px; }
    .content .left .work {
      font-size: 16px;
      color: #666; }
    .content .left .can {
      font-weight: bold; }
    .content .left nav .current {
      background-color: #007aff;
      color: #fff; }
  .content .right {
    width: 100%;
    height: 600px;
    float: left; }
    .content .right .right-content {
      padding-left: 200px; }
      .content .right .right-content .title {
        height: 30px;
        background-color: #007aff;
        color: #fff; }
        .content .right .right-content .title .title-left {
          float: left; }
          .content .right .right-content .title .title-left ul li {
            width: 80px;
            display: inline-block;
            text-align: center;
            line-height: 30px; }
        .content .right .right-content .title .title-right {
          float: right;
          margin-top: 7px;
          margin-right: 10px; }
          .content .right .right-content .title .title-right .dropdown .dropdown-toggle {
            color: #fff; }
      .content .right .right-content .main {
        padding-left: 20px; }
        .content .right .right-content .main h5 {
          padding-top: 20px;
          font-weight: bold; }
        .content .right .right-content .main .search {
          padding-top: 10px; }
          .content .right .right-content .main .search button {
            width: 50px; }
        .content .right .right-content .main .list {
          line-height: 40px;
          font-size: 14px;
          color: #0074d9;
          font-weight: bold; }

td input {
  width: 80px; }

table {
  width: 100%;
  margin-bottom: 20px; }
  table tr {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc; }
    table tr th, table tr td {
      width: 120px;
      text-align: center; }

.add {
  width: 100px;
  height: 30px;
  margin-left: 40%; }

.dialog {
  width: 300px;
  height: 400px;
  background-color: #c4e3f3;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -200px; }
  .dialog ul {
    margin-top: 20px;
    margin-left: 50px; }
    .dialog ul li {
      margin-top: 15px; }
      .dialog ul li span {
        display: inline-block;
        width: 60px; }
      .dialog ul li button {
        width: 60px;
        height: 24px;
        border: 1px solid #ccc;
        margin-left: 24px;
        background-color: #39cccc;
          background-color-color: #fff; }

.page {
  margin-bottom: 20px; }
  .page button {
    width: 60px;
    height: 24px;
    background-color: transparent;
    border: 1px solid #666;
    margin-left: 10px;
    margin-right: 10px; }
  .page span {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 22px;
    border: 1px solid #666;
    margin-right: 2px; }
  .page .current {
    background-color: #0074d9;
    color: #fff; }
  .page input {
    width: 60px;
    margin-left: 5px;
    margin-right: 5px; }

/*# sourceMappingURL=index.css.map */
